@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root[data-theme='light'] {
	--bg-main: 255, 255, 255;
	--color-1: 0, 0, 0;
	--color-2: 142, 91, 199;
	--color-3: 70, 79, 75;
	--color-4: 96, 10, 101;
}

:root[data-theme='dark'] {
	/* --bg-main: 15, 8, 22; */
	--bg-main: 30, 30, 30;
	--color-1: 255, 255, 255;
	--color-2: 142, 91, 199;
	--color-3: 175, 173, 173;
	--color-4: 96, 10, 101;
}

:root body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-1);
	background-color: rgba(var(--bg-main));
	background-image: radial-gradient(rgba(var(--color-1), 0.1) 2px, transparent 0);
	background-size: 30px 30px;
	background-position: -5px -5px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
